p {
	color: #3e4444;
	width: 500px;
	border: 1px dashed #3e4444;
	padding: 2px;
}

ul {
	color: #3e4444;
}

h1 {
	color: #3e4444;
	font-size: 50px;

}

body {
	background-color: #e6e2d3;
	font-family: "Open Sans", sans-serif;
}