p {
	color: #3e4444;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 1em;
}

ul {
	color: #3e4444;
	margin-left: 1em;
	width: 90%;
}

h1 {
	color: #3e4444;
	font-size: 50px;
	text-align: right;
	margin-top: 0;
}

html {
	background-color: #b9936c;
	font-family: "Open Sans", sans-serif;
}

body {
	width: 67%;
	margin: 0 auto;
	background-color: #e6e2d3;
	padding: 0 20px 20px 20px;
	border: 3px solid black;
}

#mainImage {
	display: block;
	margin: 0 auto;
	padding-bottom: 15px;
	width: 75%;
}